
@model CRM.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item</title>
</head>
<body>
    <div>
        Registro escolhido:<br>
        <b>@Model.Email - @Model.Create_date - @Model.Last_access </b>
    </div>
</body>
</html>
