@{
    ViewBag.Title = "About";
}

@Html.Partial("_ViewSession")

<br>
<h2>CRM versão 1.0</h2>
<h4>Desenvolvido por Julio Cezar da Gama Duarte</h4>
<h4>Email: julio.pes@gmail.com</h4>
<h4>Teste técnico para a empresa stefanini</h4>