@model IEnumerable< WebSoccer.Models.Users>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (WebSoccer.Models.Users item in Model)
            {
                <li>
                        <a target="_blank" href="~/User/Item/@item.Id_users">@item.Email</a>
                </li>
            }
        </ul>
    </div>
</body>
</html>
